<div style='width:50%; display: block; margin-left: auto; margin-right: auto; border: 3px dashed blue; width:50%;'>
  <form action="/named-cat" method="post">
    Cat's first name: <input type="text" name="name">
    <p></p>
    Cat's last name: <input type="text" name="last_name">
    <input type="submit" value="Click me!">
  </form>
</div>
