
<body>
  <p style='width:50%; display: block; margin-left: auto; margin-right: auto; border: 3px dashed blue; width:50%;'><%= @rnd %></p>
  <h1 style='width:50%; display: block; margin-left: auto; margin-right: auto; border: 3px dashed blue; width:50%;'>My name is <%= %w(Crap Poop Gringo).sample %></h1>
  <div style='width:50%; display: block; margin-left: auto; margin-right: auto; border: 3px dashed blue; width:50%;'>
      <img style='width:100%;' src='http://www.planwallpaper.com/static/images/cool-wallpaper-1.jpg'>
  </div>
</body>
